body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/bk2.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-attachment: fixed;
}

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background: rgba(242, 242, 242, 0.9);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.form-login .form-login-heading,
.form-login .checkbox {
  margin-bottom: 10px;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
